@mixin btnTypeStyle($bg, $color) {
    background-color: $bg;
    color: $color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

@mixin btnSizeStyle($padding, $font-size) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding;
    font-size: $font-size;
}
